/* line 8, ../sass/navigation.scss */
.navigation {
  position: absolute;
  top: 227px;
  width: 100%;
  min-height: 62px;
}
@media screen and (max-width: 768px) {
  /* line 8, ../sass/navigation.scss */
  .navigation {
    width: 100.3%;
    left: -0.6px;
  }
}
/* line 17, ../sass/navigation.scss */
.navigation .container {
  background-color: white;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.05);
}
@media screen and (max-width: 768px) {
  /* line 17, ../sass/navigation.scss */
  .navigation .container {
    text-align: center;
  }
}
/* line 23, ../sass/navigation.scss */
.navigation .container .logo {
  visibility: hidden;
  display: inline-block;
  opacity: 0;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
/* line 32, ../sass/navigation.scss */
.navigation .container .logo:hover h2 {
  text-decoration: underline;
}
/* line 37, ../sass/navigation.scss */
.navigation .container .menuicon-caption {
  display: none;
  color: #ddd;
}
@media screen and (min-width: 768px) {
  /* line 17, ../sass/navigation.scss */
  .navigation .container {
    position: relative;
  }
  /* line 43, ../sass/navigation.scss */
  .navigation .container .logo {
    position: absolute;
    left: 0;
    top: 11px;
  }
  /* line 47, ../sass/navigation.scss */
  .navigation .container .logo img {
    width: 170px;
    height: auto;
  }
  /* line 51, ../sass/navigation.scss */
  .navigation .container .logo h2 {
    font-weight: 500;
    margin: 0;
  }
  /* line 57, ../sass/navigation.scss */
  .navigation .container .menu-wrapper > div {
    display: inline-block;
    position: relative;
    left: 50%;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  /* line 66, ../sass/navigation.scss */
  .navigation .container ul {
    margin: 0;
    margin-left: -50%;
    padding: 0;
    display: inline-block;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  /* line 72, ../sass/navigation.scss */
  .navigation .container ul li {
    display: inline;
  }
  /* line 74, ../sass/navigation.scss */
  .navigation .container ul li a {
    display: inline-block;
    padding: 20px 16px;
    color: #555555;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: 400;
  }
  /* line 82, ../sass/navigation.scss */
  .navigation .container ul li a:hover {
    background-color: #178ac1;
    color: white;
  }
  /* line 89, ../sass/navigation.scss */
  .navigation .container ul .current-menu-item a, .navigation .container ul .current-page-ancestor a {
    background-color: #178ac1;
    color: white;
  }
  /* line 96, ../sass/navigation.scss */
  .navigation .container .menuicon {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  /* line 17, ../sass/navigation.scss */
  .navigation .container {
    position: absolute;
    top: 15px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
  }
  /* line 108, ../sass/navigation.scss */
  .navigation .container .menuicon {
    position: absolute;
    top: 7px;
    left: 18px;
  }
  /* line 113, ../sass/navigation.scss */
  .navigation .container h2 {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 18px;
  }
  /* line 118, ../sass/navigation.scss */
  .navigation .container .menuicon-caption {
    display: inline-block;
  }
  /* line 121, ../sass/navigation.scss */
  .navigation .container .menu-wrapper {
    padding-left: 0px;
    position: absolute;
    top: 46px;
    background-color: #efefef;
    left: -100%;
    width: 100%;
    z-index: 21;
  }
  /* line 130, ../sass/navigation.scss */
  .navigation .container .menu-wrapper ul {
    margin-left: 0;
    padding-left: 5px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  /* line 135, ../sass/navigation.scss */
  .navigation .container .menu-wrapper ul li {
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 30px;
  }
}

/* line 149, ../sass/navigation.scss */
.fixed {
  position: fixed;
  top: 0px;
  z-index: 10;
  text-align: left;
  background-color: white;
}
/* line 156, ../sass/navigation.scss */
.fixed .container .logo {
  visibility: visible;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  /* line 162, ../sass/navigation.scss */
  .fixed .container .menu-wrapper > div {
    display: inline-block;
    position: relative;
    left: 170px;
  }
  /* line 167, ../sass/navigation.scss */
  .fixed .container .menu-wrapper ul {
    margin-left: 0;
  }
  /* line 171, ../sass/navigation.scss */
  .fixed .container h2 {
    display: inline-block;
    margin: 0;
    position: relative;
    top: 2px;
    margin-right: 15px;
  }
}
/* line 179, ../sass/navigation.scss */
.fixed .container .menuicon-caption {
  display: none;
}

/* line 187, ../sass/navigation.scss */
.single-post .current-menu-item a {
  background-color: transparent !important;
  color: #555555 !important;
}
/* line 190, ../sass/navigation.scss */
.single-post .current-menu-item a:hover {
  background-color: #178ac1;
  color: white;
}

/* line 196, ../sass/navigation.scss */
.single-post .current-menu-item ~ li a {
  background-color: #178ac1;
  color: white !important;
}
